body {
  font-size:40px;
  background-image: linear-gradient(to bottom right, purple, gold);
}

#leviathan {
  max-width:80%;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
  padding:10px;
  background-image: url("37049661250_5b5b9c884c_b.jpg");
  background-position: center;
  background-size: cover;
}


#eater {
  max-width:80%;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
  padding:10px;
  background:white;
}

#spire {
  max-width:80%;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
  padding:10px;
  background:white;
}

#wish {
  max-width:80%;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
  padding:10px;
  background:white;
}

#scourge {
  max-width:80%;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
  padding:10px;
  background:white;
}

#crown {
  max-width:80%;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
  padding:10px;
  background:white;
}
#garden {
  max-width:80%;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
  padding:10px;
  background:white;
}
