body {
  font-size:40px;
  background-color:black;
}

#leviathan {
  max-width:80%;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
  padding:10px;
  background:gold;
}

#eater {
    max-width:80%;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
  padding:10px;
  background:white;
}

#spire {
  max-width:80%;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
  padding:10px;
  background:white;
}

#wish {
  max-width:80%;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
  padding:10px;
  background:white;
}

#scourge {
  max-width:80%;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
  padding:10px;
  background:white;
}

#crown {
  max-width:80%;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
  padding:10px;
  background:white;
}
